@tailwind base;
@tailwind components;
@tailwind utilities;

.imageGirl {
  width: auto;
  height: 716px;
  background-image: url("/images/girlImage.jpg");
  background-position: center;
  background-size: cover;
}

.men {
  width: 510px;
  height: 500px;
  background-image: url("/images/men.jpg");
  background-size: cover;
  background-position: center;
}

.women {
  width: 240px;
  height: 500px;
  background-image: url("/images/women.jpg");
  background-size: cover;
  background-position: center;
}

.accessories {
  width: 240px;
  height: 242px;
  background-image: url("/images/accessories.jpg");
  background-size: cover;
  background-position: center;
}

.kid {
  width: 240px;
  height: 242px;
  background-image: url("/images/kid.jpg");
  background-size: cover;
  background-position: center;
}

.product1 {
  width: 239px;
  height: 427px;
  background-image: url("/images/product1.jpg");
  background-size: cover;
  background-position: center;
}

.product2 {
  width: 239px;
  height: 427px;
  background-image: url("/images/product2.jpg");
  background-size: cover;
  background-position: center;
}

.product3 {
  width: 239px;
  height: 427px;
  background-image: url("/images/product3.jpg");
  background-size: cover;
  background-position: center;
}

.product4 {
  width: 239px;
  height: 427px;
  background-image: url("/images/product4.jpg");
  background-size: cover;
  background-position: center;
}

.product5 {
  width: 239px;
  height: 427px;
  background-image: url("/images/product5.jpg");
  background-size: cover;
  background-position: center;
}

.product6 {
  width: 239px;
  height: 427px;
  background-image: url("/images/product6.jpg");
  background-size: cover;
  background-position: center;
}

.product7 {
  width: 239px;
  height: 427px;
  background-image: url("/images/product7.jpg");
  background-size: cover;
  background-position: center;
}

.product8 {
  width: 239px;
  height: 427px;
  background-image: url("/images/product8.jpg");
  background-size: cover;
  background-position: center;
}

.carousel2 {
  width: 443px;
  height: 599px;
  background-image: url("/images/carousel2.png");
  background-size: cover;
}

.fluid {
  width: 707px;
  height: 682px;
  background-image: url("/images/fluid.png");
  background-size: cover;
}

.featured1 {
  width: 348px;
  height: 300px;
  background-image: url("/images/featured1.jpg");
  background-size: cover;
  background-position: center;
}

.featured2 {
  width: 348px;
  height: 300px;
  background-image: url("/images/featured2.jpg");
  background-size: cover;
  background-position: center;
}

.featured3 {
  width: 348px;
  height: 300px;
  background-image: url("/images/featured3.jpg");
  background-size: cover;
  background-position: center;
}

.shoppingGirl {
  width: 625px;
  height: 688px;
  background-image: url("/images/shoppingGirl1.png");
  background-size: cover;
  background-position: center;
}

.videoCard {
  width: 990px;
  height: 540px;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(56, 56, 56, 0.84)),
    url("/images/videoCard.png");
}

.team1 {
  width: 316px;
  height: 231px;
  background-image: url("/images/team1.jpg");
}

.team2 {
  width: 316px;
  height: 231px;
  background-image: url("/images/team2.jpg");
}

.team3 {
  width: 316px;
  height: 231px;
  background-image: url("/images/team3.jpg");
}

.team4 {
  width: 316px;
  height: 231px;
  background-image: url("/images/team4.jpg");
}

.team5 {
  width: 316px;
  height: 231px;
  background-image: url("/images/team5.jpg");
}

.team6 {
  width: 316px;
  height: 231px;
  background-image: url("/images/team6.jpg");
}

.team7 {
  width: 316px;
  height: 231px;
  background-image: url("/images/team7.jpg");
}

.team8 {
  width: 316px;
  height: 231px;
  background-image: url("/images/team8.jpg");
}

.team9 {
  width: 316px;
  height: 260px;
  background-image: url("/images/team9.jpg");
}

.team10 {
  width: 700px;
  height: 530px;
  background-image: url("/images/team10.png");
}

.team11 {
  width: 361px;
  height: 260px;
  background-image: url("/images/team11.png");
}

.team12 {
  width: 361px;
  height: 260px;
  background-image: url("/images/team12.png");
}

.team13 {
  width: 361px;
  height: 260px;
  background-image: url("/images/team13.png");
}

.team14 {
  width: 361px;
  height: 260px;
  background-image: url("/images/team14.png");
}

.testimonials {
  width: 590px;
  height: 640px;
  background-image: url("/images/testimonials.png");
}

.contactHeader {
  width: 632px;
  height: 826px;
  background-image: url("/images/contactHeader1.png");
}

.shop1 {
  width: 205px;
  height: 223px;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(33, 33, 33, 0.5)),
    url("/images/shop1.jpg");
}

.girlImage {
  width: 205px;
  height: 223px;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(33, 33, 33, 0.5)),
    url("/images/girlImage.jpg");
  background-size: cover;
  background-position: center;
}

.shop3 {
  width: 205px;
  height: 223px;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(33, 33, 33, 0.5)),
    url("/images/shop3.jpg");
}

.shop4 {
  width: 205px;
  height: 223px;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(33, 33, 33, 0.5)),
    url("/images/shop4.jpg");
}

.shop5 {
  width: 205px;
  height: 223px;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(33, 33, 33, 0.5)),
    url("/images/shop5.jpg");
}

.productcard1 {
  width: 240px;
  height: 300px;
  background-image: url("/images/productcard1.png");
  background-size: cover;
  background-position: center;
}

.productcard2 {
  width: 240px;
  height: 300px;
  background-image: url("/images/productcard2.png");
}

.productcard3 {
  width: 240px;
  height: 300px;
  background-image: url("/images/productcard3.png");
}

.productcard4 {
  width: 240px;
  height: 300px;
  background-image: url("/images/productcard4.png");
}

.productcard5 {
  width: 240px;
  height: 300px;
  background-image: url("/images/productcard5.png");
}

.productcard6 {
  width: 240px;
  height: 300px;
  background-image: url("/images/productcard6.png");
}

.productcard7 {
  width: 240px;
  height: 300px;
  background-image: url("/images/productcard7.png");
}

.productcard8 {
  width: 240px;
  height: 300px;
  background-image: url("/images/productcard8.png");
}

.productcard9 {
  width: 240px;
  height: 300px;
  background-image: url("/images/productcard9.png");
}

.productcard10 {
  width: 240px;
  height: 300px;
  background-image: url("/images/productcard10.png");
}

.productcard11 {
  width: 240px;
  height: 300px;
  background-image: url("/images/productcard11.png");
}

.productcard12 {
  width: 240px;
  height: 300px;
  background-image: url("/images/productcard12.png");
}

.singleproduct1 {
  width: 506px;
  height: 450px;
  background-image: url("/images/singleproduct1.jpg");
}

.singleproduct2 {
  width: 100px;
  height: 75px;
  background-image: url("/images/singleproduct2.jpg");
}

.singleproduct3 {
  width: 100px;
  height: 75px;
  background-image: url("/images/singleproduct3.jpg");
}

.product0 {
  width: 316px;
  height: 372px;
  background-image: url("/images/product0.png");
}

.product-1 {
  width: 239px;
  height: 280px;
  background-image: url("/images/product-1.png");
}

.product-2 {
  width: 239px;
  height: 280px;
  background-image: url("/images/product-2.png");
}

.product-3 {
  width: 239px;
  height: 280px;
  background-image: url("/images/product-3.png");
}

.product-4 {
  width: 239px;
  height: 280px;
  background-image: url("/images/product-4.png");
}

.product-5 {
  width: 239px;
  height: 280px;
  background-image: url("/images/product-5.png");
}

.product-6 {
  width: 239px;
  height: 280px;
  background-image: url("/images/product-6.png");
}

.product-7 {
  width: 239px;
  height: 280px;
  background-image: url("/images/product-7.png");
}

.product-8 {
  width: 239px;
  height: 280px;
  background-image: url("/images/product-8.png");
}

@media (max-width: 640px) {
  .imageGirl {
    width: 100%;
    height: 753px;
    background-image: url("/images/girlImage.jpg");
    background-position: center;
    background-size: cover;
  }

  .men {
    width: 324px;
    height: 500px;
    background-image: url("/images/men.jpg");
    background-size: cover;
    background-position: center;
  }

  .women {
    width: 324px;
    height: 500px;
    background-image: url("/images/women.jpg");
    background-size: cover;
    background-position: center;
  }

  .accessories {
    width: 324px;
    height: 242px;
    background-image: url("/images/accessories.jpg");
    background-size: cover;
    background-position: center;
  }

  .kid {
    width: 324px;
    height: 242px;
    background-image: url("/images/kid.jpg");
    background-size: cover;
    background-position: center;
  }

  .product1 {
    width: 328px;
    height: 427px;
    background-image: url("/images/product1.jpg");
    background-size: cover;
    background-position: center;
  }

  .product2 {
    width: 328px;
    height: 427px;
    background-image: url("/images/product2.jpg");
    background-size: cover;
    background-position: center;
  }

  .product3 {
    width: 328px;
    height: 427px;
    background-image: url("/images/product3.jpg");
    background-size: cover;
    background-position: center;
  }

  .product4 {
    width: 328px;
    height: 427px;
    background-image: url("/images/product4.jpg");
    background-size: cover;
    background-position: center;
  }

  .product5 {
    width: 328px;
    height: 427px;
    background-image: url("/images/accessories.jpg");
    background-size: cover;
    background-position: center;
  }

  .product6 {
    width: 328px;
    height: 427px;
    background-image: url("/images/product06.png");
    background-size: cover;
    background-position: center;
  }

  .product7 {
    width: 328px;
    height: 427px;
    background-image: url("/images/product06.png");
    background-size: cover;
    background-position: center;
  }

  .product8 {
    width: 328px;
    height: 427px;
    background-image: url("/images/men.jpg");
    background-size: cover;
    background-position: center;
  }

  .carousel2 {
    width: 410px;
    height: 530px;
    background-image: url("/images/carousel2.png");
    background-size: cover;
  }

  .fluid {
    width: 100%;
    height: 358px;
    background-image: url("/images/fluid2.png");
    background-size: cover;
    background-position: center;
  }

  .featured1 {
    width: 330px;
    height: 300px;
    background-image: url("/images/featured01.png");
    background-size: cover;
    background-position: center;
  }

  .featured2 {
    width: 330px;
    height: 300px;
    background-image: url("/images/featured02.png");
    background-size: cover;
    background-position: center;
  }

  .featured3 {
    width: 330px;
    height: 300px;
    background-image: url("/images/featured03.png");
    background-size: cover;
    background-position: center;
  }

  .shoppingGirl {
    width: 387px;
    height: 440px;
    background-image: url("/images/shoppingGirl2.png");
    background-size: cover;
    background-position: center;
  }

  .videoCard {
    width: 306px;
    height: 316px;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(56, 56, 56, 0.84)),
      url("/images/videoCard.png");
    background-size: cover;
    background-position: center;
  }

  .contactHeader {
    width: 387px;
    height: 440px;
    background-image: url("/images/contactHeader2.png");
    background-size: cover;
  }

  .team10 {
    width: 414px;
    height: 530px;
    background-image: url("/images/team-10.png");
  }

  .team11 {
    width: 204px;
    height: 260px;
    background-image: url("/images/team-11.png");
    background-size: cover;
    background-position: center;
  }

  .team12 {
    width: 204px;
    height: 260px;
    background-image: url("/images/team-12.png");
  }

  .team13 {
    width: 204px;
    height: 260px;
    background-image: url("/images/team-13.png");
  }

  .team14 {
    width: 204px;
    height: 260px;
    background-image: url("/images/team-14.png");
  }

  .shop1 {
    width: 332px;
    height: 300px;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(33, 33, 33, 0.5)),
      url("/images/shop-1.jpg");
    background-size: cover;
    background-position: center;
  }

  .girlImage {
    width: 332px;
    height: 300px;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(33, 33, 33, 0.5)),
      url("/images/girlImage.jpg");
    background-size: cover;
    background-position: center;
  }

  .shop3 {
    width: 332px;
    height: 300px;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(33, 33, 33, 0.5)),
      url("/images/shop-3.jpg");
    background-size: cover;
    background-position: center;
  }

  .shop4 {
    width: 332px;
    height: 300px;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(33, 33, 33, 0.5)),
      url("/images/shop-4.jpg");
    background-size: cover;
    background-position: center;
  }

  .shop5 {
    width: 332px;
    height: 300px;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(33, 33, 33, 0.5)),
      url("/images/shop-5.jpg");
    background-size: cover;
    background-position: center;
  }

  .productcard1 {
    width: 328px;
    height: 427px;
    background-image: url("/images/productcard1.png");
    background-size: cover;
    background-position: center;
  }

  .productcard2 {
    width: 328px;
    height: 427px;
    background-image: url("/images/productcard2.png");
    background-size: cover;
    background-position: center;
  }

  .productcard3 {
    width: 328px;
    height: 427px;
    background-image: url("/images/productcard4.png");
    background-size: cover;
    background-position: center;
  }

  .productcard4 {
    width: 328px;
    height: 427px;
    background-image: url("/images/productcard4.png");
    background-size: cover;
    background-position: center;
  }

  .singleproduct1 {
    width: 348px;
    height: 277px;
    background-image: url("/images/singleproduct1.jpg");
    background-size: cover;
    background-position: center;
  }

  .product0 {
    width: 321px;
    height: 271px;
    background-image: url("/images/product-0.png");
  }

  .product-1 {
    width: 328px;
    height: 427px;
    background-image: url("/images/product-1.png");
    background-size: cover;
    background-position: center;
  }

  .product-2 {
    width: 328px;
    height: 427px;
    background-image: url("/images/product-2.png");
    background-size: cover;
    background-position: center;
  }

  .product-3 {
    width: 328px;
    height: 427px;
    background-image: url("/images/product-3.png");
    background-size: cover;
    background-position: center;
  }

  .product-4 {
    width: 328px;
    height: 427px;
    background-image: url("/images/product-4.png");
    background-size: cover;
    background-position: center;
  }
}
